import { Component, OnInit, /*BS*/Output, EventEmitter/*BE*/ } from '@angular/core';
import { Book, Thumbnail } from '../shared/book';

@Component({
  // ...
})
export class BookListComponent implements OnInit {
  books: Book[];/*BS*/
  @Output() showDetailsEvent = new EventEmitter<Book>();/*BE*/

  ngOnInit() {
    // ...
  }
/*BS*/
  showDetails(book: Book) {
    this.showDetailsEvent.emit(book);
  }/*BE*/
}
