// ...

export class BookStoreService {
  // ...

  update(book: Book): Observable<any> {
    return this.http.put(
      `${this.api}/book/${book.isbn}`,
      book,
      { responseType: 'text' }
    ).pipe(
      catchError(this.errorHandler)
    );
  }
}
