// ...
import { map, switchMap } from 'rxjs/operators';

// ...
export class EditBookComponent implements OnInit {
  // ...

  ngOnInit() {
    this.route.paramMap.pipe(
      map(params => params.get('isbn')),
      switchMap((isbn: string) => this.bs.getSingle(isbn))
    )
    .subscribe(book => this.book = book);
  }

  updateBook(book: Book) {
    this.bs.update(book).subscribe(() => {
      this.router.navigate(['../../..', 'books', book.isbn], { relativeTo: this.route });
    });
  }
}
