// .../*BS*/
import { FormsModule } from '@angular/forms';
import { DateValueAccessorModule } from 'angular-date-value-accessor';
/*BE*/
@NgModule({
  imports: [
    // .../*BS*/
    FormsModule,
    DateValueAccessorModule/*BE*/
  ],
  // ...
})
export class AppModule { }
