import { NgModule } from '@angular/core';
import { Routes, RouterModule } from '@angular/router';

import { HomeComponent } from './home/home.component';
import { BookListComponent } from './book-list/book-list.component';
import { BookDetailsComponent } from './book-details/book-details.component';

export const routes: Routes = [
  // ...
];

@NgModule({/*BS*/
  imports: [RouterModule.forRoot(routes)],
  exports: [RouterModule]/*BE*/
})
export class AppRoutingModule { }
