<div class="ui menu">
  <a routerLink="home"  /*BS*/routerLinkActive="active"/*BE*/ class="item">Home</a>
  <a routerLink="books" /*BS*/routerLinkActive="active"/*BE*/ class="item">Bücher</a>
</div>
<router-outlet></router-outlet>
