// .../*BS*/
import { AppRoutingModule } from './app-routing.module';/*BE*/

@NgModule({
  declarations: [
    // ...
  ],
  imports: [
    BrowserModule,
    /*BS*/AppRoutingModule/*BE*/
  ],
  providers: [],
  bootstrap: [AppComponent]
})
export class AppModule { }
