// ...

export class BookFactory {

  /*BS*/static empty(): Book {
    return {
      isbn: '',
      title: '',
      authors: [''],
      published: new Date(),
      subtitle: '',
      rating: 0,
      thumbnails: [{url: '', title: ''}],
      description: ''
    };
  }/*BE*/

  // ...
}
