import { Component, Input, /*BS*/Output, EventEmitter/*BE*/ } from '@angular/core';
import { Book } from '../shared/book';

@Component({
  // ...
})
export class BookDetailsComponent {
  @Input() book: Book;/*BS*/
  @Output() showListEvent = new EventEmitter<any>();/*BE*/

  // ...
/*BS*/
  showBookList() {
    this.showListEvent.emit();
  }/*BE*/
}
