// .../*BS*/
import { EditBookComponent } from './edit-book/edit-book.component';
/*BE*/

export const routes: Routes = [
  // .../*BS*/
  {
    path: 'admin/edit/:isbn',
    component: EditBookComponent
  }/*BE*/
];
// ...
