@Injectable({
  providedIn: 'root'
})
export class BookStoreService {
  // ...

  constructor(private http: HttpClient) {
    // ...
  }

  getAll(): Observable<Book[]> {
    return this.http
      .get<any[]>(`${this.api}/books`)
      .retry(3)
      .map(rawBooks => rawBooks
        .map(rawBook => BookFactory.fromRaw(rawBook))
      )
      .catch(this.errorHandler);
  }
}
