// ...

export class FormMessagesComponent {
  // ...

  private allMessages = {
    // ...
    isbn: {
      required: 'Es muss eine ISBN angegeben werden',
      isbnFormat: 'Die ISBN muss aus 10 oder 13 Zeichen bestehen',
      isbnExists: 'Die ISBN existiert bereits'
    },
    // ...
    authors: {
      atLeastOneAuthor: 'Es muss ein Autor angegeben werden'
    }
  };

  // ...

}
