<div *ngIf="book; else errorMessage">
  <!-- ... -->
  <button class="ui tiny red labeled icon button"
          (click)="removeBook()">
    <i class="remove icon"></i> Buch löschen
  </button><!--BS-->
  <a class="ui tiny yellow labeled icon button"
    [routerLink]="['../../admin/edit', book.isbn]">
    <i class="write icon"></i> Buch bearbeiten
  </a><!--BE-->
</div>
<!-- ... -->
