// ...

export class BookFormComponent implements OnInit {
  // ...

  submitForm() {/*BS*/
    const formValue = this.bookForm.value;
    const authors = formValue.authors
              .filter(author => author);
    const thumbnails = formValue.thumbnails
              .filter(thumbnail => thumbnail.url);

    const newBook: Book = {
      ...formValue,
      authors,
      thumbnails
    };/*BE*/

    this.submitBook.emit(newBook);
    this.bookForm.reset();
  }
}
