// ...

export class BookFormComponent implements OnInit {
  // ...
  /*BS*/
  get authors(): FormArray {
    return this.bookForm.get('authors') as FormArray;
  }

  get thumbnails(): FormArray {
    return this.bookForm.get('thumbnails') as FormArray;
  }/*BE*/
}
