// ...

export class BookFormComponent implements OnInit {
  // ...
  /*BS*/
  addAuthorControl() {
    this.authors.push(this.fb.control(''));
  }

  addThumbnailControl() {
    this.thumbnails.push(
      this.fb.group({ url: '', title: '' })
    );
  }/*BE*/
}
